label {
    margin-right: 50px;
}
img {
    width: 200px;
    height: 200px;
    /* margin-bottom: 100px; */
}
.main {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}